@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
}
/* header & navbar */
.header-container {
    width: 100%;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
    z-index: 5;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;

}

li {
    font-size: 22px;
    list-style: none;
    color: #FFFFFF;
    cursor: pointer;
}

a {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-link:hover {
    border-bottom: 1px solid #FFFFFF;
}


#header-img {
    padding: 5px 15px;
    width: 70%;
    height: 70%;
}



/* hero */

.hero-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.overlay {
    background: black;
    opacity: 0.6;
    width: 100%;
    height: 640px;
    position: absolute;
    z-index: 2;
}

#hero-img {
    width: 100%;
    height: 640px;
}

#hero-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    opacity: 0.8;
    padding: 60px;
    position: absolute;
    z-index: 3;
}

h2 {
    color: #FFFFFF;
    font-size: 35px;
}

#email {
    width: 100%;
    font-size: 15px;
    max-width: 250px;
    margin: 15px;
    text-align: center;
}
input[type="submit"] {
    margin: 15px;
    font-size: 15px;
    width: 100%;
    max-width: 150px;
    height: 30px;
    border: 0;
    background-color: #baba16;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #ffff16;
}

/* product */

.product-container {
    display: flex;
    flex-wrap: wrap;
    background: #222222;
    justify-content: center;
    align-items: flex-start;
}
.product-heading {
    width: 100%;
    padding: 25px 45px;
}

#video {
    background: white;
    border: 20px solid rgba(0, 0, 0, 0.8);
    margin: 0px 35px 105px 35px;
    max-width: 600px;
    width: 100%;
}

.product-p {
    padding: 30px;
    width: 500px;
    color: #FFFFFF;
    font-size: 15px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    margin: 20px 20px 80px 20px;
    height: 520px;
    width: 330px;
    border: 5px solid rgba(0, 0, 0, 0.8);
}

.product-img {
    height: 50%;
}

.price {
    color: #222222;
    padding: 0px 5px;
    font-size: 30px;
}

.product-desc {
    padding: 0px 10px 15px 10px;
    font-size: 12px;
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #1a1a1a;
    text-align: center;
    width: 100%;
    padding: 25px;
}

#copyright {
    color: #FFFFFF;
    font-size: 18px;
}

.footer-social > .fab {
    opacity: 0.5;
    font-size: 20px;
}

.footer-social .fab:hover {
    color: #baba16;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}


/* media queries */

@media (min-width: 600px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    ul {
        flex-direction: row;
    }
    li {
        padding: 5px 12px;
    }

}

@media (min-width: 1025px) {
    .header-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

}