* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header & navbar styling */
.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgb(0, 0, 0);
}

ul {
    margin-right: 25px;
    width: 25em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    font-size: 25px;
    list-style: none;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

#header-img {
    max-width: 75%;
    padding: 5px 15px;
}

/* hero */

.hero-container {
    display: flex;
    background: aquamarine;
    justify-content: center;
}

.overlay {
    background: black;
    opacity: 0.6;
    width: 100%;
    height: 640px;
    position: absolute;
    z-index: 2;
}

#hero-img {
    width: 100%;
    height: 640px;
}


